name: Tests By Symfony Version

on:
  pull_request:
  workflow_dispatch:
  repository_dispatch:
  push:
    branches:
      - main
      - 0.*
      - 1.*
      - 2.*
  schedule:
    # Weekly on Mondays at 3pm UTC
    - cron:  '0 15 * * 1'

jobs:
  symfony52:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.0-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 5.2

  symfony53:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.0-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 5.3

  symfony54:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.0-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 5.4

  symfony60:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.0-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 6.0

  symfony61:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.1-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 6.1

  symfony62:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.1-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 6.2
      
  symfony63:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.1-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 6.3

  symfony64:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.1-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 6.4

  symfony70:
    uses: mrgoodbytes8667/workflows/.github/workflows/run-tests-by-version.yml@php8.2-8.3
    with:
      phpUnitVersion: 9.6
      symfony: 7.0
